{% extends 'layout.html' %}
{% from 'macros.html' import render_field %}

{% block title %}{{ super() }} - New Entry{% endblock %}

{% block header%}{% endblock %}

{% block content %}
    <div class="new-entry">
        <h2>New Entry</h2>
        <form class="form" method="POST" action="">
            {{ form.hidden_tag() }}
            <label for="title"> Title</label>
            {{ render_field(form.title) }}
            <label for="date">Date</label>
            {{ render_field(form.date) }}
            <label for="time-spent"> Time Spent</label>
            {{ render_field(form.time_spent) }}
            <label for="what-i-learned">What I Learned</label>
            {{ render_field(form.learned) }}
            <label for="resources-to-remember">Resources to Remember</label>
            {{ render_field(form.resources) }}
            <label for="tags">Tags</label>
            {{ render_field(form.tags) }}
            <input type="submit" value="Publish Entry" class="button">
            <a href="{{ url_for('index') }}" class="button button-secondary">Cancel</a>
        </form>
    </div>
{% endblock %}
